*{
    box-sizing: border-box;
}
.topbar-wrapper{
    background:rgb(48, 51, 48);
    height: 40px;
    width: 100%;
}
.topbar .service{
    float: left;
}
.topbar .user,.topbar .shop-cart{
    float: right;
}
.topbar ul li{
    line-height: 40px;
    float: left;
}
.topbar ul li a{
    display: inline-block;
    color:rgb(116, 125, 118);
}
.topbar ul li a:hover{
    color:white;
}
.topbar .line{
    font-size:12px;
    color:#424242;
    margin:0 8px;
}
.topbar .shop-cart:hover{
    color:rgb(255, 103, 0);
    background: white;
}